@page "/LearnBlazor/BindProp";

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        Is Active: <input type="checkbox" @bind="@_product.IsActive" /> <br />
        Input Price:
        <input type="number" @bind-value="@_product.Price" @bind-value:event="oninput" />
        <br />
        Product Properties:
        <select @bind="_selectedProp">
            @foreach (var prop in _product.ProductProp)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select> <br />
        
    </div>
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>

        Name : @_product.Name <br />
        IsActive: @_product.IsActive <br />
        Price: @_product.Price <br />
        This product is: @(_product.IsActive ? "Active" : "InActive") <br />
        Selected Prop: @_selectedProp <br />
        @if (!string.IsNullOrWhiteSpace(_selectedProp)){
            <p>Selected value: @_product.ProductProp.FirstOrDefault(u => u.Key == _selectedProp)!.Value</p>
        }
    </div>
    <div class="col-12 p-4">
        <h3 class="text-primary-emphasis">Products list</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                       Product Name
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Is Active
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in _productsList)
                {
                    <tr>
                        <td>
                            <input type="text" @bind-value="product.Name" @bind-value:event="oninput" />
                        </td>
                        <td>
                            <input type="number" @bind-value="product.Price" @bind-value:event="oninput" />
                        </td>
                        <td>
                            <input type="checkbox" @bind="product.IsActive" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h3 class="text-bg-primary"> 
        Products Sumary
    </h3>
    @foreach (var product in _productsList)
    {
        <div class="col-3">
            <div class="border p-1 m-1">
                <h5 class="text-primary">@product.Name</h5>
                <p>Price: @product.Price <br />
                Is active: @(product.IsActive ? "Active" : "InActive")</p>
            </div>
        </div>
    }
    
</div>

@code {
    private string _selectedProp = "";

    private readonly List<Product> _productsList = [];

    readonly Product _product = new()
        {
            IdProduct = 1,
            Name = "Banana",
            IsActive = true,
            Price = 5,
            ProductProp = new List<ProductProp>()
            {
                new() {Id= 1, Key = "Color", Value = "Blue"},
                new() {Id= 1, Key = "Size", Value = "20cm"},
                new() {Id= 1, Key = "Flavor", Value = "Banana"}
            }
        };

    protected override void OnInitialized()
    {
        _productsList.Add(_product);
        _productsList.Add(new Product
        {
                IdProduct = 2,
                Name = "Apple",
                IsActive = false,
                Price = 4,
                ProductProp = new List<ProductProp>()
                    {
                        new() {Id= 1, Key = "Color", Value = "Red"},
                        new() {Id= 1, Key = "Size", Value = "20cm"},
                        new() {Id= 1, Key = "Flavor", Value = "Apple"}
                    }
            });
        _productsList.Add(new Product
        {
            IdProduct = 3,
            Name = "Pear",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new() {Id= 1, Key = "Color", Value = "Red"},
                        new() {Id= 1, Key = "Size", Value = "20cm"},
                        new() {Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
        _productsList.Add(new Product
        {
            IdProduct = 4,
            Name = "Pineapple",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new() {Id= 1, Key = "Color", Value = "Red"},
                        new() {Id= 1, Key = "Size", Value = "20cm"},
                        new() {Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
    }
}
